name: Build LaTeX document
on: [push]
# on:
#   pull_request:
#     branches: [main]
#   push:
#     branches: [main]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: cv.tex
          texlive_version: 2025
          args: "-pdf -file-line-error -halt-on-error -interaction=nonstopmode"
      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: cv.pdf